body {
  font-family: Nunito, sans-serif;
  color: #333;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
}

a {
  font-family: Nunito, sans-serif;
  text-decoration: underline;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
  padding-top: 84px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 6px solid #d91123;
  background-color: #fff;
}

.section.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 700px;
  padding-top: 139px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 5px solid #d91123;
  border-top-style: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.57)), to(rgba(0, 0, 0, 0.57))), url('../images/hero002.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57)), url('../images/hero002.jpg');
  background-position: 0px 0px, 50% 0px;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
  box-shadow: 0 0 6px 0 #fff;
}

.section.quality {
  min-height: 300px;
  padding-top: 55px;
  padding-bottom: 55px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-top-style: none;
  background-color: #f6f6f6;
}

.section.top {
  min-height: 750px;
  padding-top: 40px;
  border-top-style: none;
  background-image: url('../images/rb001.jpg');
  background-position: 143% 132%;
  background-size: 70%;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.section.bottom {
  min-height: 630px;
  padding-top: 0px;
  border-top-style: solid;
  border-top-width: 3px;
  background-image: url('../images/rb002.jpg');
  background-position: -44px 171%;
  background-size: 700px;
  background-repeat: no-repeat;
}

.section.who {
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-top-style: none;
  background-color: #e4e4e4;
}

.section.services {
  min-height: auto;
  padding-top: 88px;
  padding-bottom: 88px;
  border-top-color: #d91123;
  background-color: #fafafa;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.container._01 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.container._02 {
  padding-left: 58px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.service-icon-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 46px;
  margin-left: 46px;
  padding: 39px 43px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 20px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  text-align: center;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.service-icon-wrapper:hover {
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.09);
  -webkit-transform: translate3d(0px, -19px, 23px);
  transform: translate3d(0px, -19px, 23px);
}

.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 10000;
  padding-top: 32px;
  padding-bottom: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(180deg, #fff, #fff);
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.11);
}

.nav-link {
  border-bottom: 1px solid #fff;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  font-family: Nunito, sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.nav-link:hover {
  border-bottom-style: solid;
}

.nav-link.w--current {
  color: #d91123;
}

.link-text {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 11px;
  text-decoration: none;
}

.link-text:hover {
  color: #fff;
}

.link-text._1 {
  font-family: Nunito, sans-serif;
  font-size: 29px;
  font-weight: 600;
  letter-spacing: 0px;
}

.link-text.red {
  font-family: Nunito, sans-serif;
  color: #d91123;
  font-size: 20px;
  font-weight: 100;
}

.link-text.number {
  font-size: 9px;
}

.link-text.red {
  font-family: Nunito, sans-serif;
  color: #d91123;
  font-size: 20px;
  font-weight: 100;
}

.bold-text {
  font-family: Nunito, sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.8px;
}

.bold-text._1 {
  font-size: 11px;
}

.icon {
  margin-right: 7px;
  margin-left: 10px;
}

.logo {
  margin-top: -15px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.heading-1 {
  font-family: Nunito, sans-serif;
  color: #fff;
  font-size: 58px;
  line-height: 64px;
  font-weight: 500;
  text-align: center;
}

.heading-1.hero {
  padding-right: 65px;
  padding-left: 65px;
}

.heading-2 {
  font-family: Nunito, sans-serif;
  color: #fff;
  font-size: 26px;
  line-height: 34px;
  font-weight: 400;
  text-align: center;
}

.heading-2.hero {
  margin-top: 26px;
  margin-bottom: 40px;
  padding-right: 90px;
  padding-left: 90px;
  font-family: Nunito, sans-serif;
  font-size: 24px;
}

.heading-2.cta1 {
  margin-top: 10px;
  font-size: 24px;
}

.div-block-4 {
  padding-right: 21%;
  padding-left: 21%;
  text-align: center;
}

.link {
  padding: 13px 23px;
  border: 7px solid #fff;
  background-color: transparent;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-family: Nunito, sans-serif;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.link:hover {
  border-radius: 78px;
  background-color: #fff;
  color: #222;
}

.link.cta {
  margin-left: 15px;
  padding: 10px 13px;
  background-color: transparent;
}

.link.cta:hover {
  background-color: #7e0a14;
  color: #fff;
}

.div-block-5 {
  display: block;
  min-width: 320px;
  padding-right: 180px;
  padding-left: 45px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.column-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 21px;
  margin-left: 21px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.column-1.contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  min-width: 940px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 72px 70px 114px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  text-align: center;
}

.heading-3 {
  margin-top: 0px;
  margin-bottom: 22px;
  color: #d91123;
  font-size: 55px;
  line-height: 65px;
  font-weight: 200;
  text-align: left;
}

.heading-3._01 {
  margin-bottom: 20px;
  font-size: 45px;
  text-align: center;
}

.heading-3._01._001 {
  margin-bottom: 0px;
  font-size: 35px;
  font-weight: 300;
  text-align: center;
}

.p {
  margin-bottom: 7px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #000;
  line-height: 26px;
  font-weight: 400;
}

.p.white {
  color: #fff;
}

.p._3 {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 84px;
  color: #000;
}

.p._5 {
  margin-top: 19px;
  padding-right: 34px;
  color: #000;
}

.p._2 {
  margin-bottom: 10px;
  color: #fff;
}

.p.c1 {
  margin-right: 20px;
  margin-left: 20px;
  padding-right: 56px;
}

.p.c1.d {
  padding-right: 29px;
  color: #000;
  text-align: left;
}

.p.f {
  color: #fff;
}

.p.d {
  color: #fff;
}

.heading-4 {
  margin-bottom: 8px;
  color: rgba(51, 51, 51, 0.34);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.heading-4.red {
  margin-top: 29px;
  color: #d91123;
  font-weight: 700;
}

.cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 18px;
  padding-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #d91123;
  text-align: center;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  padding-bottom: 19px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.45)), to(rgba(0, 0, 0, 0.45))), url('../images/hero003.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('../images/hero003.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
  text-align: center;
}

.bold-text-2 {
  font-size: 26px;
}

.text-span {
  text-decoration: underline;
}

.top-bar-wrapper {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.top-bar-contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 340px;
  height: 32px;
  padding-right: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #2e2e2e;
}

.email-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.phone-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.column-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 50%;
  padding: 100px 86px 99px 54px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.image-002 {
  min-width: 50%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/image001.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/image001.jpg');
  background-position: 0px 0px, 100% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.heading-5 {
  font-weight: 800;
}

.heading-5._2 {
  margin-top: 20px;
  margin-bottom: 18px;
  padding-left: 5px;
}

.heading-5._2._01 {
  margin-top: 0px;
  margin-bottom: 36px;
  padding-left: 0px;
  color: #d91123;
  font-weight: 300;
  text-align: center;
}

.heading-5._2._01._7 {
  margin-top: 29px;
  margin-bottom: 0px;
}

.column-services {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.tab-wrapper {
  margin: 5px 13px 0px;
  padding: 18px 10px 18px 38px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.11);
}

.bold-text-4 {
  color: #fff;
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.div-block-9 {
  width: 50%;
  padding-left: 20px;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.div-block-11 {
  padding-left: 0px;
}

.div-block-12 {
  display: block;
  width: 505px;
  margin-right: 20px;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.05);
  text-align: center;
}

.section-2 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 71px;
  padding-bottom: 100px;
  background-color: #fafafa;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(246, 238, 238, 0.97)), to(rgba(246, 238, 238, 0.97))), url('../images/hero002.jpg');
  background-image: linear-gradient(180deg, rgba(246, 238, 238, 0.97), rgba(246, 238, 238, 0.97)), url('../images/hero002.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
}

.dropdown-class {
  position: static;
  width: 504px;
  padding-top: 22px;
  padding-bottom: 22px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  text-align: center;
}

.dropdown-class:hover {
  padding-top: 22px;
  padding-bottom: 22px;
  border-radius: 20px;
  box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.08);
}

.dropdown-class:active {
  color: #d91123;
  font-weight: 700;
}

.dropdown-class:focus {
  color: #d91123;
  font-weight: 600;
}

.dropdown-class.w--open {
  color: #d91123;
  font-weight: 600;
}

.d {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.dropdown-list {
  background-color: #fff;
}

.dropdown-list.w--open {
  background-color: transparent;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.row-service-cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7px;
  margin-bottom: 7px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.card-service {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 9px;
  padding: 20px 27px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.div-righ {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-top: 3px solid #d91123;
}

.text-wrapper-contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.image-4 {
  margin-bottom: 29px;
}

.image-5 {
  margin-bottom: 18px;
}

.heading-6 {
  margin-top: 0px;
  margin-bottom: 22px;
  color: #d91123;
  font-size: 55px;
  line-height: 65px;
  font-weight: 200;
  text-align: left;
}

.heading-6._004 {
  display: block;
  margin-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #fff;
}

.section-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
  padding-top: 84px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 6px solid #d91123;
  background-color: #fff;
}

.section-3.top-contact {
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-top-style: none;
}

.div-left-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #d91123;
}

.copyright-link {
  display: inline-block;
  color: #fff;
  font-weight: 800;
  text-decoration: none;
}

.c-footer-octa {
  color: #fff;
  font-size: 9px;
}

.c-footer-link-2 {
  color: #fff;
  font-weight: 300;
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .section.top {
    background-position: 100% 100%;
  }

  .section.bottom {
    background-position: -96px 145%;
  }

  .container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .container._02 {
    padding-right: 57px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .service-icon-wrapper {
    margin-right: 8px;
    margin-left: 8px;
  }

  .navbar {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 27px;
    padding-bottom: 17px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .nav-link {
    display: block;
    text-align: left;
  }

  .icon {
    margin-left: 10px;
  }

  .logo {
    max-width: 90%;
    margin-top: -2px;
  }

  .div-block-4 {
    padding-right: 0%;
    padding-left: 0%;
  }

  .div-block-5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-width: 340px;
    padding-right: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .column-1.contacts {
    min-width: 100%;
    padding: 31px 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .p {
    color: #000;
  }

  .p._3 {
    color: #000;
  }

  .p.c1.d {
    color: #000;
    text-align: left;
  }

  .p.d {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .icon-2 {
    color: #d91123;
    font-size: 34px;
  }

  .brand {
    margin-left: 5px;
  }

  .menu-button {
    position: absolute;
    right: 14px;
    bottom: 0px;
    margin-top: -15px;
    margin-bottom: 8px;
    border: 3px solid #fff;
    border-radius: 20px;
    background-color: #fff;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
  }

  .menu-button.w--open {
    border: 3px none #d91123;
    border-radius: 40px;
    background-color: #fff;
  }

  .top-bar-wrapper {
    padding-right: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .nav-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 17px;
    padding-bottom: 17px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    text-align: center;
  }

  .column-left {
    margin-left: 0px;
    padding-right: 38px;
    padding-left: 42px;
  }

  .column-services {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .tab-wrapper {
    margin: 13px 14px;
    padding: 20px 0px 32px 37px;
    border-radius: 10px;
    box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.12);
  }

  .div-block-12 {
    margin-right: 0px;
    margin-bottom: 29px;
    margin-left: 0px;
  }

  .d {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .card-service {
    margin-left: 32px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .section-3.top-contact {
    padding-top: 0px;
    background-image: none;
  }
}

@media screen and (max-width: 767px) {
  .section.hero {
    padding-top: 131px;
    padding-bottom: 53px;
  }

  .section.top {
    min-height: 890px;
    padding-top: 0px;
  }

  .section.bottom {
    min-height: 710px;
    padding-top: 62px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-position: -175px 112%;
  }

  .section.who {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .container._01 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .container._02 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .service-icon-wrapper {
    margin-right: 0px;
    margin-left: 0px;
  }

  .navbar {
    padding-top: 38px;
    padding-bottom: 15px;
  }

  .logo {
    margin-top: 5px;
    margin-left: 15px;
  }

  .container-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .div-block-4 {
    padding-right: 0%;
    padding-left: 0%;
  }

  .div-block-5 {
    width: 100%;
    padding-right: 82px;
    padding-left: 82px;
  }

  .column-1 {
    padding-right: 20px;
  }

  .column-1.contacts {
    text-align: center;
  }

  .p.white {
    padding-right: 101px;
    padding-left: 101px;
  }

  .icon-2 {
    font-size: 39px;
  }

  .brand {
    margin-top: 1px;
    margin-left: 0px;
    padding-left: 0px;
  }

  .menu-button {
    position: absolute;
    right: 6px;
    bottom: -9px;
    margin-top: 0px;
    margin-bottom: 13px;
  }

  .menu-button.w--open {
    border-style: none;
  }

  .cta {
    padding-right: 77px;
    padding-left: 77px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .column-left {
    padding-top: 62px;
    padding-bottom: 57px;
    padding-left: 40px;
  }

  .image-002 {
    min-height: 400px;
  }

  .div-block-8 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-10 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .row-service-cards {
    padding-right: 11px;
    padding-left: 11px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .div-righ {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 48px 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .section-3.top-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-left-2 {
    padding-top: 37px;
    padding-bottom: 37px;
  }
}

@media screen and (max-width: 479px) {
  .section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 46px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .section.hero {
    min-height: 70vh;
    padding: 140px 8px 35px;
  }

  .section.quality {
    min-height: 172px;
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .section.top {
    min-height: 900px;
    padding: 35px 0px 178px 7px;
    background-position: 76% 105%;
    background-size: 140%;
  }

  .section.bottom {
    min-height: 740px;
    padding-top: 43px;
    padding-right: 0px;
    padding-left: 12px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    background-position: 9% 114%;
    background-size: 430px;
  }

  .section.who {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: #f7f5f5;
  }

  .section.services {
    padding-top: 55px;
    padding-bottom: 46px;
    padding-left: 0px;
  }

  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .container._01 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .container._02 {
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .service-icon-wrapper {
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 14px 0px;
  }

  .service-icon-wrapper:hover {
    -webkit-transform: translate3d(0px, -14px, 23px);
    transform: translate3d(0px, -14px, 23px);
  }

  .navbar {
    padding-top: 45px;
    padding-bottom: 16px;
  }

  .bold-text {
    font-size: 12px;
  }

  .icon {
    margin-right: 5px;
    margin-left: 5px;
  }

  .icon._2 {
    margin-left: 13px;
  }

  .logo {
    margin-left: 0px;
  }

  .container-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .heading-1.hero {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 37px;
    line-height: 44px;
  }

  .heading-2.hero {
    margin-top: 17px;
    margin-bottom: 20px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 19px;
    line-height: 26px;
  }

  .heading-2.cta1 {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 24px;
    line-height: 31px;
  }

  .div-block-4 {
    padding-right: 6%;
    padding-left: 7%;
  }

  .link.cta {
    margin-top: 6px;
    margin-left: 0px;
  }

  .div-block-5 {
    min-width: 320px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .column-1 {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 4px;
    padding-left: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .column-1.contacts {
    width: 80%;
    margin-left: 0px;
    padding: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    text-align: left;
  }

  .heading-3 {
    margin-bottom: 18px;
    font-size: 42px;
    line-height: 50px;
    font-weight: 400;
  }

  .heading-3._01 {
    font-size: 40px;
    font-weight: 400;
  }

  .heading-3._01._001 {
    padding-right: 51px;
    padding-left: 51px;
    line-height: 40px;
    font-weight: 400;
  }

  .p {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 36px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    font-size: 14px;
  }

  .p.white {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 12px;
  }

  .p._3 {
    padding-right: 38px;
  }

  .p._5 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .p._2 {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 13px;
  }

  .p.c1 {
    margin-left: 10px;
    padding-right: 0px;
  }

  .p.c1.d {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    color: #000;
    text-align: left;
  }

  .p.f {
    color: #fff;
  }

  .p.d {
    color: #fff;
  }

  .heading-4.red {
    margin-top: 9px;
    font-size: 11px;
  }

  .icon-2 {
    font-size: 29px;
  }

  .brand {
    margin-left: 0px;
  }

  .menu-button {
    position: absolute;
    right: 3px;
    bottom: -7px;
    height: 68px;
    margin-top: 0px;
    padding-right: 14px;
    padding-left: 14px;
  }

  .menu-button.w--open {
    border-style: none;
  }

  .cta {
    padding: 12px 16px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer {
    padding-right: 37px;
    padding-left: 37px;
    text-align: center;
  }

  .bold-text-2 {
    font-size: 20px;
  }

  .top-bar-contact {
    width: 100%;
    height: 40px;
    padding-right: 0px;
    padding-left: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .text-block {
    margin-right: 0px;
  }

  .email-wrapper {
    margin-right: 3px;
  }

  .phone-wrapper {
    margin-right: 0px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .column-left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 43px 18px 39px 41px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .image-002 {
    display: block;
    min-width: 100%;
  }

  .column-services {
    padding-right: 14px;
    padding-left: 26px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .tab-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 27px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .bold-text-4 {
    font-size: 17px;
  }

  .div-block-8 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-9 {
    padding-left: 10px;
  }

  .div-block-10 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-12 {
    width: 290px;
  }

  .section-2 {
    padding-bottom: 68px;
  }

  .dropdown-class {
    width: 290px;
    font-size: 14px;
  }

  .row-service-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .card-service {
    margin-left: 9px;
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .div-righ {
    display: none;
    padding-top: 58px;
    padding-bottom: 58px;
  }

  .text-wrapper-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .heading-6 {
    margin-bottom: 18px;
    font-size: 42px;
    line-height: 50px;
  }

  .heading-6._004 {
    margin-left: 0px;
    font-size: 45px;
    font-weight: 300;
  }

  .section-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 46px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .section-3.top-contact {
    display: block;
    min-height: auto;
    background-image: none;
    text-align: left;
  }

  .div-left-2 {
    padding-right: 0px;
  }

  .icon-3 {
    display: none;
  }

  .image-servives {
    max-width: 50%;
  }
}

